#account-title{
  color: black;
  text-align: center;
  background-color:	#D8D8D8;
  padding: 10px;
  margin-top: 0;
}

#container{
  margin-left: 20px;
  width: 50%;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

#welcome-user{
  color: grey;
  font-size: 40px;
}

.section{
  color: grey;
  font-size: 26px;
}


#about-me-cont{
  display: flex;
  flex-direction: row;
}
#about-me-box-one{
  margin-left: 30px;
}
#about-me-box-two{
  margin-left: 40px;
  text-align: center;
}

#update-info{
  width:110%;
}

.footer{
  height: 40px;
  background: white;
}
