body{
    /* background-image: url(../images/food.jpeg); */
    /* background-size: cover; */
    background-color: white;
}

#welcome-message{
  padding: 10px;
  background-image: url("../images/food.jpeg");
  background-size: cover;
  font-family: "Futura", sans-serif;
  color: white;
  text-align: center;
  min-height: 70vh;

}
.container{
  margin-top: 10px;
}
.statement{
  font-family: "Futura", sans-serif;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
}
#team-cont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box{
  margin: 10px;
}
#mission-cont{
  /* border: solid 5px #ff8d6d; */
  background-color: #7f3824;
  color: white;
  min-height: 50vh;
}
#meetus-cont{
  /* border: solid 5px #e56541; */
  background-color: #b24f33;
  color: white;
  min-height: 50vh;
}

#contactus-cont{
  /* border: solid 5px #e56541; */
  background-color: #c1725b;
  color: white;
  min-height: 50vh;
}
